<h2>All the Groups</h2>
 <div class="album py-5">
    <div class="container">
      <div class="row">

		<%= render @groups %>
	</div>
    </div>
  </div>

<%= link_to "Create new Group", new_group_path %>